:root {
    --californiagold: #FDB515;
    --cinnabar: #E94F37;
    --berkeleyblue: #003262;
}


* {
    font-family: 'Montserrat';
}

.outlinebutton:hover {
    background-color: var(--berkeleyblue) !important;
    border: 2px solid var(--berkeleyblue) !important;
    color: white !important;
}

.outlinebuttonfooter {
    border-radius: 100px;
}

.outlinebuttonfooter:hover {
    background-color: white;
    color: var(--berkeleyblue) !important;
}


/* Set colour to orange for category */
h5 {
    color: var(--cinnabar);
}



/* Set font everywhere */

body {
    font-family: "Montserrat";
}

/* Styling nav & nav items */

.navresume {
    background-color: var(--californiagold);
    color: white;
    border-radius: 40px;
    transition: 0.3s;
}

.navresume:hover,
.navresume:active,
.navresume:focus {
    background-color: var(--berkeleyblue);
}

.navabout {
    border: none;
    border-radius: 40px;
    border: 2px solid white;
    transition: 0.3s;
}

.navabout:hover,
.navabout:active,
.navabout:focus {
    border: 2px solid var(--berkeleyblue);
}

.navwork {
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 40px;
}

.workitems {
    border: none;
    background: none;
}

/* Styling hamburger into the X */

/* Defining shape and color of the hamburger lines (span tags) */
.navbar-toggler span {
    display: block;
    background-color: var(--berkeleyblue);
    height: 5px;
    width: 33px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    opacity: 1;
    transition: all 0.3s ease-out;
    transform-origin: center left;
    background-color: var(--berkeleyblue);
}

/* padding for top line */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

/* Animate collapse into X */

/* rotate top line by 45 degrees, move it up and closer to the center of the X of the button, change colour to orange */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
    background-color: var(--cinnabar);
}

/* make centre line transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

/* rotate bottmo line 45 degrees  in, and closer to center of the X of the button, change colour to orange  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
    background-color: var(--cinnabar);
}


/* Animate collapse open into hamburger menu */

/* top line moves back to first positionwith blue */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
    background-color: var(--berkeleyblue);
}

/* middle line goes back to opacity 100% */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

/* bottom line goes back to first position with blue */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
    background-color: var(--berkeleyblue);
}

/* Removing the border and outline for hamburger */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Animation for nav items */

.hover-forward {
    transition-duration: 0.3s;
    transition-property: transform;
}

.hover-forward:hover {
    transform: translateX(8px);
}




/* Remove the hover */
.navphotography:hover,
.navphotography:active,
.navphotography:focus,
.navuxdesign:hover,
.navuxdesign:active,
.navuxdesign:focus,
.navartdirection:hover,
.navartdirection:active,
.navartdirection:focus {
    background: none;
    text-decoration: underline;
}


/* Set text colour to blue */

.card,
.outlinebutton,
.navworkblue,
.navworkblue:hover,
.navaboutblue,
.navaboutblue:hover,
.textberkeley {
    color: var(--berkeleyblue) !important;
}

/* Set background colours to brand blue */

footer,
.showreel {
    background-color: var(--berkeleyblue);
}

/* Set border to blue */

.outlinebutton,
.navwork:hover,
.navwork:active,
.inputborderberkely,
.thumbnailborder {
    border: 2px solid var(--berkeleyblue);
}

/* Orange background style the social icons */
.bg-cinnabar {
    background-color: var(--cinnabar);
}

/* Breadcrumb hover styling */
.breadcrumbstyling {
    color: var(--berkeleyblue);
}

.breadcrumbstyling:hover {
    color: var(--cinnabar);
}

.inputborderberkely {
    width: 100%;
}

/* Making project cards move up on hover */

.projectcard {
    transition: 0.3s;
}

.projectcard:hover {
    transform: translateY(-15px);
}

/* Style Showreel Video */

.videowhite {
    background-color: white;
    height: 100rem;
}

.showreel {
    height: 40rem;
    padding-bottom: 100px;
}

.showreelvideo {
    transform: translateY(50px);
}