:root {
    --californiagold: #FDB515;
    --cinnabar: #E94F37;
    --berkeleyblue: #003262;

}

* {
    font-family: 'Montserrat';
}
.outlinebutton:hover {
    background-color: var(--berkeleyblue);
    color: white !important;
}

.outlinebuttonfooter:hover {
    background-color: white;
    color: var(--berkeleyblue) !important;
}

footer {
    background-color: var(--berkeleyblue);
}